div.iconz{
    display:table;
    width:100%;
}

div.iconz div{
    display:table-cell;
    text-align:center;
}



/* index.html */
#homeTitle{
    height: 5%;
    backdrop-filter: blur(16px);
    z-index: 1000;
    position:fixed;
    padding:5px;
    width:max-content;
    display: block;

}


#globe2{
    visibility: hidden;

}
blue{
    color:rgb(15,154,251);
}
#separatortwo {
    margin-top: 130px;
}
#popPostForm{
        visibility:hidden;
    border-radius: 20px;
    color:white;
    z-index:100;
    height: fit-content;
    width:80vw;
    padding:20px;
    background-color: white;

    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


#profileEdit{
    height: 68vh;
    width: 90vw;
}
.cover{
    position: relative;
}
.profile{
    position: relative;
}
.centeredd{
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1420px) {
    .leftSide{
        width: 20%;
    }
    .prof{
        visibility: hidden;
    }

    
}

@media only screen and (max-width: 1150px) {
hide{
    visibility: hidden;
}
.leftSide h4{
    max-width: 15%;
}
    .welcomeDiv{
    width: 100vw;
    display: grid;  
    grid-template-columns: 10vw 55vw 35vw !important;  
    grid-template-rows: 100vh;
     overflow-x: hidden;
}
.prof{
    visibility: hidden;
}
.underline{
    visibility: hidden;
}

.postSide{
    visibility: hidden;
}
.articleTop{
    max-width: 32vw;
}
.searchArticle{
    visibility: hidden;
}
}


@media only screen and (max-width: 1005px) {
    body{
        width:100vw;
    }


    .ab{
        visibility: hidden;
    }
}

@media only screen and (max-width: 800px) {

    #leftWelcomeDiv{
        visibility: hidden;
        width: 0%;
    }
    #rightWelcomeDiv{
        max-height: 100vh;

    }

    .rightDiv2{
        visibility: hidden;
        
    }

    .welcomeDiv{
    width: 100vw;
    display: grid;  
    grid-template-columns: 9vw 90vw 1vw !important;  
    grid-template-rows: 100vh;
     overflow-x: hidden;
}
    

}


/*_______________________________________*/
@media only screen and (max-width: 1175px){




}



@media only screen and (max-width: 575px){
    #MainDivIndex{
    width: 81vw;
}

}

@media only screen and (max-width: 536px){
.postIcons{
    margin-right: 4% !important;
}
}

@media only screen and (max-width: 517px){
.postIcons{
    margin-right: 2% !important;
}
}

/* Index.html width < 1200px */
@media only screen and (max-width: 1200px){
    .welcomeDiv{
    width: 100vw;
    display: grid;  
    grid-template-columns: 20vw 45vw 35vw;  
    grid-template-rows: 100vh;
     overflow-x: hidden;
}

.firstDiv{
    margin-left: 2vw;
}


}

/* Hide plane icon after 1150 */
@media only screen and (min-width: 1150px){
.fa-paper-plane{
    visibility: hidden;
}

}




/* Index.html width < 1000px */
@media only screen and (max-width: 1000px){

.searchArticle{
    visibility: hidden;
}
.welcomeDiv{
    width: 100vw;
    display: grid;  
    grid-template-columns: 5vw 65vw 30vw;  
    grid-template-rows: 100vh;
     overflow-x: hidden;
}
.postSide{
    visibility: hidden;
}
.underline{
    visibility: hidden;
}
.prof{
    visibility: hidden;
}

}



/* Index.html width < 700px */
@media only screen and (max-width: 700px){

body,html{
overflow-x: hidden;
}

#globe2{
    font-size: larger;
    color:rgb(15,154,251) ;
}
#globe{
    visibility: hidden;
}
.welcomeDiv{
    width: 100vw;
    display: grid;  
    grid-template-columns: 9vw 90vw 1vw !important;  
    grid-template-rows: 100vh;
     overflow-x: hidden;
}

#options h1{
    visibility: hidden;
    margin-bottom: 0px;

}
#options h2{
    font-weight: bolder;
    margin-bottom: 30px;
}
.fa-globe-americas{
    font-size: 40px;
    margin-bottom: 10px;

}


.postIcons{
    margin-right: 1% !important;
}




    .show{
        visibility: visible;
        font-size: 150%;
        color:rgb(60,64,68);
        left:0% !important;
    }
    #MainDivIndex{
        margin-left: 3%;
        border-left: 1px solid lightgray;
    }
    .welcomeDiv > div{
   border-right: none;
   margin-left: 0;

}
.postButton{
    visibility: hidden;
}
.underline{
    visibility: hidden;
}
.prof{
    visibility: hidden;
}
.mainA{
    margin-left: 3% !important;    
}

.leftSide > h4:hover{
    background-color: unset;
}
#welcomebtnz{
    visibility: hidden;
}


#lightbox{
    visibility:hidden;
    border-radius: 20px;
    color:white;
    z-index:100;
    height: fit-content;
    width:80vw;
    padding:20px;
    background-color: white;

    position: absolute;
    top: 15% !important;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#lightbox3{
    visibility:hidden;
    border-radius: 20px;
    color:black;
    z-index:100;
    height: fit-content;
    max-width:600px;
    padding:50px 100px;
    background-color: white;

    position: absolute;
    top: 20% !important;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#lightbox2{
    visibility:hidden;
    border-radius: 20px;
    color:white;
    z-index:100;
    height: fit-content;
    width:80vw;
    padding:20px;
    background-color: white;

    position: absolute;
    top: 15% !important;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
hide{
    visibility: hidden;
}
#profileEdit{
    height: 68vh;
    width: 90vw;
}
.cover{
    position: relative;
}
.profile{
    position: relative;
}
.centeredd{
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
}



@media only screen and (max-width: 450px){


#options h1{
    visibility: hidden;
    margin-bottom: 0px;

}
#options h2{
    border:1px solid white;
    font-weight: bolder;
    margin-top: -50px;
    font-size: 24px;
    margin-bottom: 30px;
}

.smallerPX{
    text-align:center;
    max-width:90% !important;
}

.welcomeBtn{
    font-size:medium;
    text-align: center;
    max-width: 70%;
    border:0.5px solid#D8D8D8;
    padding: 5px 15px;
    margin: 0 auto;
    margin-top: 20px;

}
#first{
    margin-top:40px;
}
.fa-globe-americas{
    font-size: 40px;
    margin-bottom: 0px;

}
}