@media only screen and (max-width: 1005px) {


    .show{
        visibility: visible;
        font-size: 150%;
        color:rgb(60,64,68);
        padding-right:15%;
    }
    .welcomeDiv{
    display: grid;  
    grid-template-columns: 27% 37% 26%;  
    grid-template-rows: 100vh;
}
    #globe{
        font-size: x-large;
        margin-left: 8%;
    }

    #homeTitle{
        width: 77vw;
        padding:5px;
        position:relative;
        backdrop-filter: blur(16px);
        z-index: 1000;
        position:fixed;

    }
    .ab{
        visibility: visible;
    }
    .prof{
       left:5;
       bottom:0;
    }
    .m{
        all:initial;
    }

}


@media only screen and (min-width: 1005px) {
    body{
        width:100vw;
    }
    #SmallerWidth{
        visibility: hidden;
    }
    #homeTitle{
        width: 37%;
        position:relative;
        backdrop-filter: blur(16px);
        z-index: 1000;
        position:fixed;
        padding:5px;
        margin-bottom: 10%;

    }
    .ab{
        visibility: hidden;
    }
}

@media only screen and (max-width: 800px) {
    #leftWelcomeDiv{
        visibility: hidden;
        width: 0%;
    }
    #rightWelcomeDiv{
        visibility: visible;
        width: 100vw;
        height: 100vh;
        margin:0 auto;

    }
    
}


/*_______________________________________*/
@media only screen and (max-width: 1175px){


hide{
    visibility: hidden;
}

}



@media only screen and (max-width: 575px){
    #MainDivIndex{
    width: 81vw;
}

}

@media only screen and (max-width: 536px){
.postIcons{
    margin-right: 4% !important;
}
}

@media only screen and (max-width: 517px){
.postIcons{
    margin-right: 2% !important;
}
}





/* Index.html width < 505px */
@media only screen and (max-width: 505px){

body,html{
overflow-x: hidden;
}
.welcomeDiv{
    width: 100vw;
    display: grid;  
    grid-template-columns: 9vw 90vw;  
    grid-template-rows: 100vh;
     overflow-x: hidden;
}


.postIcons{
    margin-right: 1% !important;
}




    .show{
        visibility: visible;
        font-size: 150%;
        color:rgb(60,64,68);
        left:0% !important;
    }
    #MainDivIndex{
        margin-left: 3%;
        border-left: 1px solid lightgray;
    }
    .welcomeDiv > div{
   border-right: none;
   margin-left: 0;

}
.postButton{
    visibility: hidden;
}
.underline{
    visibility: hidden;
}
.prof{
    visibility: hidden;
}
.mainA{
    margin-left: 3% !important;
    
}
.leftSide > h4:hover{
    background-color: unset;
}
#welcomebtnz{
    visibility: hidden;
}


#lightbox{
    visibility:hidden;
    border-radius: 20px;
    color:white;
    z-index:100;
    height: fit-content;
    width:80vw;
    padding:20px;
    background-color: white;

    position: absolute;
    top: 15% !important;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#lightbox3{
    visibility:hidden;
    border-radius: 20px;
    color:black;
    z-index:100;
    height: fit-content;
    max-width:600px;
    padding:50px 100px;
    background-color: white;

    position: absolute;
    top: 20% !important;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#lightbox2{
    visibility:hidden;
    border-radius: 20px;
    color:white;
    z-index:100;
    height: fit-content;
    width:80vw;
    padding:20px;
    background-color: white;

    position: absolute;
    top: 15% !important;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
hide{
    visibility: hidden;
}
#profileEdit{
    height: 68vh;
    width: 90vw;
}
.cover{
    border:2px solid red;
    position: relative;
}
.profile{
    border:2px solid gold;
    position: relative;
}
.centeredd{
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
}

