
#globe2{
    visibility: hidden;

}

/* Container of users posts */
#separatortwo {
    margin-top: 130px;
}

/* Icon form popup */
#popPostForm{
        visibility:hidden;
    border-radius: 20px;
    color:white;
    z-index:100;
    height: fit-content;
    width:80vw;
    padding:20px;
    background-color: white;

    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/* Pop up Profile Edit form */
#profileEdit{
    height: 68vh;
    width: 90vw;
}


@media only screen and (max-width: 1420px) {

    .leftSide{
        width: 20%;
    }
    .prof{
        visibility: hidden;
    }

    
}

/* Index.html width < 1200px */
@media only screen and (max-width: 1200px){
    .welcomeDiv{
    width: 100vw;
    display: grid;  
    grid-template-columns: 20vw 45vw 35vw;  
    grid-template-rows: 100vh;
     overflow-x: hidden;
}

.firstDiv{
    margin-left: 2vw;
}


}

@media only screen and (max-width: 1150px) {

hide{
    visibility: hidden;
}
.leftSide h4{
    max-width: 15%;
}
    .welcomeDiv{
    width: 100vw;
    display: grid;  
    grid-template-columns: 10vw 55vw 35vw !important;  
    grid-template-rows: 100vh;
     overflow-x: hidden;
}
.prof{
    visibility: hidden;
}
.underline{
    visibility: hidden;
}

.postSide{
    visibility: hidden;
}
.articleTop{
    max-width: 32vw;
}
.searchArticle{
    visibility: hidden;
}
}


/* Hide plane icon after 1150 */
@media only screen and (min-width: 1150px){
.fa-paper-plane{
    visibility: hidden;
}

}


@media only screen and (max-width: 1005px) {
    body{
        width:100vw;
    }
}

/* Index.html width < 1000px */
@media only screen and (max-width: 1000px){

.searchArticle{
    visibility: hidden;
}
.welcomeDiv{
    width: 100vw;
    display: grid;  
    grid-template-columns: 5vw 65vw 30vw;  
    grid-template-rows: 100vh;
     overflow-x: hidden;
}
.postSide{
    visibility: hidden;
}
.underline{
    visibility: hidden;
}
.prof{
    visibility: hidden;
}

}


@media only screen and (max-width: 800px) {

    /* Welcome.html */
    #leftWelcomeDiv{
        width: 55%;
    }
    #rightWelcomeDiv{
        max-height: 100vh;
        width: auto;
        margin-left: 30px;
        padding-left: 20px;
    }
    #options i{
        font-size: xx-large;
    }
    #options h1{
        font-size: xx-large !important;
    }
    #options h2{
        font-size: x-large !important;
    }
    #options h5{
        font-size: large !important;
    }
    #first, #second{
        font-size: medium;
    }

    /* layout.html */
    .rightDiv2{
        visibility: hidden;
        
    }
    /* layout.html */
    .welcomeDiv{
    width: 100vw;
    display: grid;  
    grid-template-columns: 9vw 90vw 1vw !important;  
    grid-template-rows: 100vh;
     overflow-x: hidden;
}
    

}


@media only screen and (max-width: 700px){
/* Index.html */
body,html{
overflow-x: hidden;
}

#globe2{
    font-size: larger;
    color:rgb(15,154,251) ;
}
#globe{
    visibility: hidden;
}
.welcomeDiv{
    width: 100vw;
    display: grid;  
    grid-template-columns: 9vw 90vw 1vw !important;  
    grid-template-rows: 100vh;
     overflow-x: hidden;
}
.welcomeDiv > div{
border-right: none;
margin-left: 0;

}
/* welcome.html */
#options h1{
    visibility: hidden;
    margin-bottom: 0px;

}
#options h2{
    font-weight: bolder;
    margin-bottom: 30px;
}
.fa-globe-americas{
    font-size: 40px;
    margin-bottom: 10px;

}
#MainDivIndex{
    margin-left: 3%;
    border-left: 1px solid lightgray;
}

/* layout.html */
.postIcons{
    margin-right: 1% !important;
}
/* Makes Icons visible */       
.show{
    visibility: visible;
    font-size: 150%;
    color:rgb(60,64,68);
    left:0% !important;
}


.postButton{
    visibility: hidden;
}
.underline{
    visibility: hidden;
}
.prof{
    visibility: hidden;
}
.mainA{
    margin-left: 3% !important;    
}

.leftSide > h4:hover{
    background-color: unset;
}
#welcomebtnz{
    visibility: hidden;
}


#lightbox{
    visibility:hidden;
    border-radius: 20px;
    color:white;
    z-index:100;
    height: fit-content;
    width:80vw;
    padding:20px;
    background-color: white;

    position: absolute;
    top: 15% !important;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#lightbox3{
    visibility:hidden;
    border-radius: 20px;
    color:black;
    z-index:100;
    height: fit-content;
    max-width:600px;
    padding:50px 100px;
    background-color: white;

    position: absolute;
    top: 20% !important;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#lightbox2{
    visibility:hidden;
    border-radius: 20px;
    color:white;
    z-index:100;
    height: fit-content;
    width:80vw;
    padding:20px;
    background-color: white;

    position: absolute;
    top: 15% !important;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
hide{
    visibility: hidden;
}
#profileEdit{
    height: 68vh;
    width: 90vw;
}
.cover{
    position: relative;
}
.profile{
    position: relative;
}
.centered{
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
}


@media only screen and (max-width: 575px){
    /* Welcome.html */
    .fa-globe-americas{
        font-size: 40px;
        margin-bottom: -20% !important;
    }
        #rightWelcomeDiv{
        max-height: 100vh;
        margin-left: 30px;
        max-width: 42%;

    }
    #first{
        width: 40vw;
    }
    /* layout.html */
    #MainDivIndex{
    width: 81vw;
}

}

@media only screen and (max-width: 536px){

.postIcons{
    margin-right: 4% !important;
}
}


@media only screen and (max-width: 517px){
    /* Welcome.html */
     #leftWelcomeDiv{
        width: 55%;
     }
    #first{
        padding: 10px auto;
    }
    #smallerPx{
        width:80% !important;
        align-content: center;
    }
    /* layout.html */
    .postIcons{
    margin-right: 2% !important;
    }
    
}

@media only screen and (max-width: 450px){
/* welcome.html */
#options{
    padding:0;
    margin-left:-15%;

}
#options h1{
    visibility: hidden;
    margin-bottom: 0px;

}
#options h2{
    border:1px solid white;
    font-weight: bolder;
    margin-top: -50px;
    font-size: 24px;
    margin-bottom: 30px;
}

.smallerPX{
    text-align:center;
    max-width:90% !important;
    font-size:x-small !important;
}
.welcomeBtn{
    font-size:medium;
    text-align: center;
    max-width: 70%;
    border:0.5px solid#D8D8D8;
    padding: 5px 15px;
    margin: 0 auto;
    margin-top: 20px;

}
#first{
    margin-top:40px;
}
.fa-globe-americas{
    font-size: 40px;
    margin-bottom: 0px;

}
}

@media only screen and (max-width: 450px){

 ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
    .leftSide{
        height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }

}